# ====================================================================
# Configuración Local de Entorno para Docker Compose (.env)
# ====================================================================
# Copia este archivo como '.env' en la raíz antes de levantar Docker:
# cp .env.example .env

# Configuración de Base de Datos
DB_PASSWORD=mysql

# Secretos de Seguridad y JWT (¡CAMBIAR EN PRODUCCIÓN!)
JWT_SECRET=dev-docker-jwt-secret-minimo-32-caracteres-2026

# Autenticación (Keycloak)
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ADMIN_CLIENT_SECRET=nngpFPrXQqq9aRPwa0OVMsWuGCmOuUvV

# Pasarela de Pagos (Stripe)
PAYMENT_GATEWAY_PROVIDER=MOCK
STRIPE_SECRET_KEY=sk_test_51P1dummykey

# Activa el envío de alertas reales configurando estas variables de entorno en tu .env local:
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
