-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: supermarket_system
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `action` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `affected_table` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `record_id` bigint DEFAULT NULL,
  `old_values` text COLLATE utf8mb4_unicode_ci,
  `new_values` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `log_date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_audit_logs_users` (`user_id`),
  CONSTRAINT `fk_audit_logs_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brands`
--

DROP TABLE IF EXISTS `brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brands` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brands`
--

LOCK TABLES `brands` WRITE;
/*!40000 ALTER TABLE `brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_register_movements`
--

DROP TABLE IF EXISTS `cash_register_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_register_movements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `session_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(12,4) NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cash_movements_user` (`user_id`),
  KEY `idx_cash_movements_session` (`session_id`),
  KEY `idx_cash_movements_type` (`type`),
  CONSTRAINT `fk_cash_movements_session` FOREIGN KEY (`session_id`) REFERENCES `cash_register_sessions` (`id`),
  CONSTRAINT `fk_cash_movements_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_register_movements`
--

LOCK TABLES `cash_register_movements` WRITE;
/*!40000 ALTER TABLE `cash_register_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_register_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_register_sessions`
--

DROP TABLE IF EXISTS `cash_register_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_register_sessions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `opened_at` datetime NOT NULL,
  `closed_at` datetime DEFAULT NULL,
  `opening_balance` decimal(12,4) NOT NULL,
  `system_calculated_balance` decimal(12,4) DEFAULT NULL,
  `actual_closing_balance` decimal(12,4) DEFAULT NULL,
  `difference` decimal(12,4) DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `user_id` bigint NOT NULL,
  `expected_cash` decimal(12,4) DEFAULT NULL,
  `expected_card` decimal(12,4) DEFAULT NULL,
  `expected_transfer` decimal(12,4) DEFAULT NULL,
  `counted_cash` decimal(12,4) DEFAULT NULL,
  `counted_card` decimal(12,4) DEFAULT NULL,
  `counted_transfer` decimal(12,4) DEFAULT NULL,
  `card_difference` decimal(12,4) DEFAULT NULL,
  `transfer_difference` decimal(12,4) DEFAULT NULL,
  `cash_register_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sessions_user_status` (`user_id`,`status`),
  KEY `fk_sessions_cash_registers` (`cash_register_id`),
  CONSTRAINT `fk_cash_session_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_sessions_cash_registers` FOREIGN KEY (`cash_register_id`) REFERENCES `cash_registers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_register_sessions`
--

LOCK TABLES `cash_register_sessions` WRITE;
/*!40000 ALTER TABLE `cash_register_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_register_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_registers`
--

DROP TABLE IF EXISTS `cash_registers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_registers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_registers`
--

LOCK TABLES `cash_registers` WRITE;
/*!40000 ALTER TABLE `cash_registers` DISABLE KEYS */;
INSERT INTO `cash_registers` VALUES (1,'Caja Terminal 01','ACTIVE','Caja registradora principal del pasillo 1','2026-06-13 05:45:53'),(2,'Caja Terminal 02','ACTIVE','Caja registradora secundaria del pasillo 2','2026-06-13 05:45:53'),(3,'Caja Rapida 03','ACTIVE','Caja rapida para compras menores de 10 articulos','2026-06-13 05:45:53');
/*!40000 ALTER TABLE `cash_registers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` smallint NOT NULL AUTO_INCREMENT,
  `name` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `default_requires_batch` tinyint(1) NOT NULL DEFAULT '0',
  `default_requires_expiration` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_goals`
--

DROP TABLE IF EXISTS `commercial_goals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_goals` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_amount` decimal(12,4) NOT NULL,
  `goal_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `version` bigint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_goals_dates` (`start_date`,`end_date`),
  KEY `idx_goals_type_status` (`goal_type`,`status`),
  CONSTRAINT `chk_goals_dates` CHECK ((`start_date` < `end_date`)),
  CONSTRAINT `chk_goals_target` CHECK ((`target_amount` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_goals`
--

LOCK TABLES `commercial_goals` WRITE;
/*!40000 ALTER TABLE `commercial_goals` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_goals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coupons`
--

DROP TABLE IF EXISTS `coupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coupons` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `original_amount` decimal(12,4) NOT NULL,
  `remaining_balance` decimal(12,4) NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `expiration_date` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `used_at` datetime DEFAULT NULL,
  `version` bigint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `idx_coupons_code` (`code`),
  CONSTRAINT `chk_coupons_balance` CHECK ((`remaining_balance` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coupons`
--

LOCK TABLES `coupons` WRITE;
/*!40000 ALTER TABLE `coupons` DISABLE KEYS */;
/*!40000 ALTER TABLE `coupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_note_details`
--

DROP TABLE IF EXISTS `credit_note_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_note_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `credit_note_id` bigint NOT NULL,
  `sale_detail_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `batch_id` bigint DEFAULT NULL,
  `quantity` decimal(12,4) NOT NULL,
  `unit_price` decimal(12,4) NOT NULL,
  `tax_applied` decimal(5,2) NOT NULL DEFAULT '0.00',
  `refund_amount` decimal(12,4) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cn_details_products` (`product_id`),
  KEY `fk_cn_details_batches` (`batch_id`),
  KEY `idx_cn_details_credit_note` (`credit_note_id`),
  KEY `idx_cn_details_sale_detail` (`sale_detail_id`),
  CONSTRAINT `fk_cn_details_batches` FOREIGN KEY (`batch_id`) REFERENCES `product_batches` (`id`),
  CONSTRAINT `fk_cn_details_credit_note` FOREIGN KEY (`credit_note_id`) REFERENCES `credit_notes` (`id`),
  CONSTRAINT `fk_cn_details_products` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_cn_details_sale_detail` FOREIGN KEY (`sale_detail_id`) REFERENCES `sale_details` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_note_details`
--

LOCK TABLES `credit_note_details` WRITE;
/*!40000 ALTER TABLE `credit_note_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_note_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_notes`
--

DROP TABLE IF EXISTS `credit_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_notes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(12,4) NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  `sale_id` bigint NOT NULL,
  `session_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `credit_note_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'FULL',
  `subtotal` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_tax` decimal(12,4) NOT NULL DEFAULT '0.0000',
  PRIMARY KEY (`id`),
  KEY `fk_credit_notes_users` (`user_id`),
  KEY `idx_credit_notes_session` (`session_id`),
  KEY `idx_credit_notes_sale` (`sale_id`),
  KEY `uk_credit_notes_number` (`credit_note_number`),
  CONSTRAINT `fk_credit_notes_sales` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`),
  CONSTRAINT `fk_credit_notes_session` FOREIGN KEY (`session_id`) REFERENCES `cash_register_sessions` (`id`),
  CONSTRAINT `fk_credit_notes_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_notes`
--

LOCK TABLES `credit_notes` WRITE;
/*!40000 ALTER TABLE `credit_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `document_id` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `points` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `document_id` (`document_id`),
  KEY `idx_customers_document_id` (`document_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (1,'Consumidor Final',NULL,NULL,NULL,NULL,'2026-06-10 22:50:52',0),(4,'JUAN CALERO ROMERO','601-091100-1008P',NULL,'86085174',NULL,'2026-06-13 18:20:06',66);
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_closures`
--

DROP TABLE IF EXISTS `daily_closures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_closures` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `closure_date` date NOT NULL,
  `total_sales` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `sales_count` bigint NOT NULL DEFAULT '0',
  `gross_profit` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `gross_margin_percentage` decimal(8,4) NOT NULL DEFAULT '0.0000',
  `total_cash_sales` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_card_sales` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_transfer_sales` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_cash_difference` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_card_difference` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_transfer_difference` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `total_difference` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `open_sessions_count` bigint NOT NULL DEFAULT '0',
  `closed_sessions_count` bigint NOT NULL DEFAULT '0',
  `received_purchases_amount` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `pending_purchases_count` bigint NOT NULL DEFAULT '0',
  `partial_purchases_count` bigint NOT NULL DEFAULT '0',
  `pending_settlements_count` bigint NOT NULL DEFAULT '0',
  `pending_settlements_amount` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `stock_alerts_count` bigint NOT NULL DEFAULT '0',
  `alerts_json` text COLLATE utf8mb4_unicode_ci,
  `notes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `closed_by_id` bigint NOT NULL,
  `closed_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_daily_closures_date` (`closure_date`),
  KEY `fk_daily_closures_user` (`closed_by_id`),
  KEY `idx_daily_closures_closed_at` (`closed_at`),
  CONSTRAINT `fk_daily_closures_user` FOREIGN KEY (`closed_by_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_closures`
--

LOCK TABLES `daily_closures` WRITE;
/*!40000 ALTER TABLE `daily_closures` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_closures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `electronic_invoices`
--

DROP TABLE IF EXISTS `electronic_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `electronic_invoices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `sale_id` bigint NOT NULL,
  `country_code` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `provider_code` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `authorization_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fiscal_uuid` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `issuer_tax_id` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `receiver_tax_id` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `authorized_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_electronic_invoices_sale` (`sale_id`),
  KEY `idx_electronic_invoices_status` (`status`),
  CONSTRAINT `fk_electronic_invoices_sales` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `electronic_invoices`
--

LOCK TABLES `electronic_invoices` WRITE;
/*!40000 ALTER TABLE `electronic_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `electronic_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history_final_v1`
--

DROP TABLE IF EXISTS `flyway_schema_history_final_v1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history_final_v1` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `script` varchar(1000) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_final_v1_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history_final_v1`
--

LOCK TABLES `flyway_schema_history_final_v1` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history_final_v1` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history_final_v1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_count_lines`
--

DROP TABLE IF EXISTS `inventory_count_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_count_lines` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `session_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `barcode` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `system_quantity` decimal(12,4) NOT NULL,
  `counted_quantity` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `variance` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uom_conversion_id` bigint DEFAULT NULL,
  `batch_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_count_line_session_product_batch` (`session_id`,`product_id`,`batch_id`),
  KEY `fk_count_lines_product` (`product_id`),
  KEY `idx_count_lines_session` (`session_id`),
  KEY `fk_inventory_count_lines_uom_conversions` (`uom_conversion_id`),
  KEY `fk_count_lines_batches` (`batch_id`),
  CONSTRAINT `fk_count_lines_batches` FOREIGN KEY (`batch_id`) REFERENCES `product_batches` (`id`),
  CONSTRAINT `fk_count_lines_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_count_lines_session` FOREIGN KEY (`session_id`) REFERENCES `inventory_count_sessions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_inventory_count_lines_uom_conversions` FOREIGN KEY (`uom_conversion_id`) REFERENCES `product_uom_conversions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_count_lines`
--

LOCK TABLES `inventory_count_lines` WRITE;
/*!40000 ALTER TABLE `inventory_count_lines` DISABLE KEYS */;
INSERT INTO `inventory_count_lines` VALUES (1,1,125,'4056',300.0000,300.0000,0.0000,NULL,516,40),(2,2,181,'7430000000516',6.0000,6.0000,0.0000,NULL,517,NULL),(3,3,181,'7430000000516',6.0000,6.0000,0.0000,NULL,518,NULL),(4,4,181,'7430000000516',30.0000,24.0000,-6.0000,NULL,519,NULL),(5,5,47,'7411000000478',102.0000,1092.0000,990.0000,NULL,154,NULL);
/*!40000 ALTER TABLE `inventory_count_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_count_sessions`
--

DROP TABLE IF EXISTS `inventory_count_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_count_sessions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `session_code` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `warehouse_zone` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` bigint NOT NULL,
  `submitted_at` datetime DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `counted_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_code` (`session_code`),
  KEY `fk_count_sessions_created_by` (`created_by`),
  KEY `fk_count_sessions_approved_by` (`approved_by`),
  KEY `idx_count_sessions_status` (`status`),
  KEY `fk_inventory_count_sessions_counted_by` (`counted_by_id`),
  CONSTRAINT `fk_count_sessions_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_count_sessions_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_inventory_count_sessions_counted_by` FOREIGN KEY (`counted_by_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_count_sessions`
--

LOCK TABLES `inventory_count_sessions` WRITE;
/*!40000 ALTER TABLE `inventory_count_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_count_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_movements`
--

DROP TABLE IF EXISTS `inventory_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_movements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `movement_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` decimal(12,4) NOT NULL,
  `factor` tinyint NOT NULL,
  `reference_id` bigint DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `product_id` bigint NOT NULL,
  `batch_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `previous_stock` decimal(12,4) DEFAULT NULL,
  `new_stock` decimal(12,4) DEFAULT NULL,
  `unit_cost` decimal(12,4) DEFAULT NULL,
  `total_cost` decimal(12,4) DEFAULT NULL,
  `source_type` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_line_id` bigint DEFAULT NULL,
  `uom_conversion_id` bigint DEFAULT NULL,
  `uom_label` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uom_factor` decimal(12,4) DEFAULT NULL,
  `uom_quantity` decimal(12,4) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_movements_batches` (`batch_id`),
  KEY `fk_movements_users` (`user_id`),
  KEY `idx_movements_product` (`product_id`),
  KEY `idx_movements_created_at` (`created_at`),
  KEY `idx_movements_type` (`movement_type`),
  KEY `idx_movements_product_date` (`product_id`,`created_at`),
  KEY `idx_movements_type_date` (`movement_type`,`created_at`),
  KEY `fk_movements_uom` (`uom_conversion_id`),
  CONSTRAINT `fk_movements_batches` FOREIGN KEY (`batch_id`) REFERENCES `product_batches` (`id`),
  CONSTRAINT `fk_movements_products` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_movements_uom` FOREIGN KEY (`uom_conversion_id`) REFERENCES `product_uom_conversions` (`id`),
  CONSTRAINT `fk_movements_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `warehouse` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `aisle` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shelf` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `location_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_piso_venta` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `location_code` (`location_code`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_rules`
--

DROP TABLE IF EXISTS `notification_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_rules` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `severity` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `channel` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_id` tinyint NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_notification_rules_routing` (`alert_type`,`severity`,`role_id`,`channel`),
  KEY `fk_notification_rules_roles` (`role_id`),
  CONSTRAINT `fk_notification_rules_roles` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_rules`
--

LOCK TABLES `notification_rules` WRITE;
/*!40000 ALTER TABLE `notification_rules` DISABLE KEYS */;
INSERT INTO `notification_rules` VALUES (1,'INVENTORY','CRITICAL','UI_PANEL',6,1,'2026-06-09 23:15:17','2026-06-09 23:15:17'),(2,'INVENTORY','CRITICAL','EMAIL',2,1,'2026-06-09 23:15:17','2026-06-09 23:15:17'),(3,'CASH_REGISTER','WARNING','UI_PANEL',3,1,'2026-06-09 23:15:17','2026-06-09 23:15:17'),(4,'CASH_REGISTER','CRITICAL','EMAIL',2,1,'2026-06-09 23:15:17','2026-06-09 23:15:17'),(5,'FINANCE','WARNING','EMAIL',2,1,'2026-06-09 23:15:17','2026-06-09 23:15:17');
/*!40000 ALTER TABLE `notification_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_accounts`
--

DROP TABLE IF EXISTS `payment_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_accounts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bank_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_holder` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_number` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `currency` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GTQ',
  `tax_id` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gateway_provider` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MOCK',
  `merchant_id` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `terminal_id` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `commission_percentage` decimal(7,4) NOT NULL DEFAULT '0.0000',
  `settlement_days` int NOT NULL DEFAULT '2',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_payment_accounts_active_default` (`is_active`,`is_default`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_accounts`
--

LOCK TABLES `payment_accounts` WRITE;
/*!40000 ALTER TABLE `payment_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_gateway_transactions`
--

DROP TABLE IF EXISTS `payment_gateway_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_gateway_transactions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `sale_id` bigint NOT NULL,
  `provider_code` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `external_reference` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` decimal(12,4) NOT NULL,
  `currency` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GTQ',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_method` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `raw_response` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `payment_account_id` bigint DEFAULT NULL,
  `commission_amount` decimal(12,4) DEFAULT NULL,
  `net_amount` decimal(12,4) DEFAULT NULL,
  `settlement_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `expected_settlement_date` date DEFAULT NULL,
  `settled_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_payment_gateway_sale` (`sale_id`),
  KEY `fk_payment_gateway_account` (`payment_account_id`),
  KEY `idx_payment_gateway_settlement` (`settlement_status`,`expected_settlement_date`),
  CONSTRAINT `fk_payment_gateway_account` FOREIGN KEY (`payment_account_id`) REFERENCES `payment_accounts` (`id`),
  CONSTRAINT `fk_payment_gateway_sales` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_gateway_transactions`
--

LOCK TABLES `payment_gateway_transactions` WRITE;
/*!40000 ALTER TABLE `payment_gateway_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_gateway_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_batches`
--

DROP TABLE IF EXISTS `product_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `initial_quantity` decimal(12,4) NOT NULL,
  `current_quantity` decimal(12,4) NOT NULL,
  `entry_date` date NOT NULL,
  `expiration_date` date NOT NULL,
  `created_at` datetime NOT NULL,
  `product_id` bigint NOT NULL,
  `purchase_order_item_id` bigint DEFAULT NULL,
  `warehouse_zone` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qc_notes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `batch_code` (`batch_code`),
  KEY `idx_batches_expiration` (`expiration_date`),
  KEY `idx_batches_product` (`product_id`),
  KEY `fk_batches_purchase_order_item` (`purchase_order_item_id`),
  CONSTRAINT `fk_batches_products` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_batches_purchase_order_item` FOREIGN KEY (`purchase_order_item_id`) REFERENCES `purchase_order_items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_batches`
--

LOCK TABLES `product_batches` WRITE;
/*!40000 ALTER TABLE `product_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_locations`
--

DROP TABLE IF EXISTS `product_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` bigint NOT NULL,
  `location_id` bigint NOT NULL,
  `stock` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_product_location` (`product_id`,`location_id`),
  KEY `location_id` (`location_id`),
  CONSTRAINT `product_locations_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_locations_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=279 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_locations`
--

LOCK TABLES `product_locations` WRITE;
/*!40000 ALTER TABLE `product_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_purchase_packs`
--

DROP TABLE IF EXISTS `product_purchase_packs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_purchase_packs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` bigint NOT NULL,
  `label` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `factor` decimal(12,4) NOT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `sort_order` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_purchase_pack_label` (`product_id`,`label`),
  KEY `idx_purchase_packs_product` (`product_id`),
  CONSTRAINT `fk_purchase_packs_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_purchase_pack_factor` CHECK ((`factor` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=491 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_purchase_packs`
--

LOCK TABLES `product_purchase_packs` WRITE;
/*!40000 ALTER TABLE `product_purchase_packs` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_purchase_packs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_uom_conversions`
--

DROP TABLE IF EXISTS `product_uom_conversions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_uom_conversions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` bigint NOT NULL,
  `barcode` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `factor` decimal(12,4) NOT NULL,
  `sale_price` decimal(12,4) DEFAULT NULL,
  `is_purchase_default` tinyint(1) NOT NULL DEFAULT '0',
  `is_sale_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_uom_conversions_barcode` (`barcode`),
  KEY `idx_uom_conversions_product` (`product_id`),
  CONSTRAINT `fk_uom_conversions_products` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_uom_conversion_factor` CHECK ((`factor` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=520 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_uom_conversions`
--

LOCK TABLES `product_uom_conversions` WRITE;
/*!40000 ALTER TABLE `product_uom_conversions` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_uom_conversions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `barcode` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `purchase_price` decimal(12,4) NOT NULL,
  `sale_price` decimal(12,4) NOT NULL,
  `current_stock` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `minimum_stock` decimal(12,4) NOT NULL DEFAULT '5.0000',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `category_id` smallint NOT NULL,
  `supplier_id` int NOT NULL,
  `tax_category_id` int NOT NULL,
  `brand_id` bigint DEFAULT NULL,
  `uom_base` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UN',
  `requires_batch` tinyint(1) NOT NULL DEFAULT '0',
  `requires_expiration` tinyint(1) NOT NULL DEFAULT '0',
  `min_stock_exhibicion` decimal(12,4) NOT NULL DEFAULT '5.0000',
  PRIMARY KEY (`id`),
  UNIQUE KEY `barcode` (`barcode`),
  KEY `idx_products_barcode` (`barcode`),
  KEY `idx_products_is_active` (`is_active`),
  KEY `idx_products_category` (`category_id`),
  KEY `idx_products_supplier` (`supplier_id`),
  KEY `idx_products_tax_category` (`tax_category_id`),
  KEY `fk_products_brand_id` (`brand_id`),
  CONSTRAINT `fk_products_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`id`),
  CONSTRAINT `fk_products_categories` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `fk_products_suppliers` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `fk_products_taxes` FOREIGN KEY (`tax_category_id`) REFERENCES `tax_categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotions`
--

DROP TABLE IF EXISTS `promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` decimal(8,4) NOT NULL,
  `min_quantity` decimal(12,4) NOT NULL DEFAULT '1.0000',
  `product_id` bigint DEFAULT NULL,
  `category_id` smallint DEFAULT NULL,
  `expiry_days_trigger` int DEFAULT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_promo_product` (`product_id`),
  KEY `idx_promo_category` (`category_id`),
  KEY `idx_promo_dates` (`start_date`,`end_date`,`is_active`),
  CONSTRAINT `fk_promo_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_promo_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotions`
--

LOCK TABLES `promotions` WRITE;
/*!40000 ALTER TABLE `promotions` DISABLE KEYS */;
INSERT INTO `promotions` VALUES (1,'Festival de Despensa','Ahorra el 10% en productos seleccionados de despensa','PERCENTAGE',10.0000,1.0000,NULL,1,NULL,'2026-06-12','2026-07-12',1,'2026-06-12 15:26:30'),(2,'S├║per Descuento Leche','C$ 5.00 de rebaja directa en Leche Entera Centrolac 1L','FIXED',5.0000,1.0000,36,NULL,NULL,'2026-06-12','2026-06-27',1,'2026-06-12 15:26:30'),(3,'Coca-Cola Familiar 2L','Compra 2 o m├ís botellas y obt├®n 15% de descuento en cada una','PERCENTAGE',15.0000,2.0000,51,NULL,NULL,'2026-06-12','2026-07-12',1,'2026-06-12 15:26:30');
/*!40000 ALTER TABLE `promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order_items`
--

DROP TABLE IF EXISTS `purchase_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity_ordered` decimal(12,4) NOT NULL,
  `quantity_received` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `unit_cost` decimal(12,4) NOT NULL,
  `line_total` decimal(12,4) NOT NULL,
  `pack_label` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantity_in_packs` decimal(12,4) DEFAULT NULL,
  `cost_per_pack` decimal(12,4) DEFAULT NULL,
  `units_per_pack` decimal(12,4) DEFAULT NULL,
  `purchase_order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `uom_conversion_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_purchase_items_order` (`purchase_order_id`),
  KEY `idx_purchase_items_product` (`product_id`),
  KEY `fk_po_items_uom` (`uom_conversion_id`),
  CONSTRAINT `fk_po_items_uom` FOREIGN KEY (`uom_conversion_id`) REFERENCES `product_uom_conversions` (`id`),
  CONSTRAINT `fk_purchase_items_order` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`),
  CONSTRAINT `fk_purchase_items_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order_items`
--

LOCK TABLES `purchase_order_items` WRITE;
/*!40000 ALTER TABLE `purchase_order_items` DISABLE KEYS */;
INSERT INTO `purchase_order_items` VALUES (1,300.0000,300.0000,7.0000,2100.0000,'UN',300.0000,7.0000,1.0000,1,125,516),(2,6.0000,6.0000,25.0000,150.0000,'M-CAJ',1.0000,150.0000,6.0000,2,181,518),(3,24.0000,24.0000,25.0000,600.0000,'CAJA-MASTER',1.0000,600.0000,24.0000,3,181,519),(4,12.0000,12.0000,125.0000,1500.0000,'CAJA',1.0000,1500.0000,12.0000,4,47,154),(5,12.0000,12.0000,27.5000,330.0000,'CAJA',1.0000,330.0000,12.0000,5,36,121),(6,1200.0000,0.0000,13.3333,16000.0000,'M-CAJ',200.0000,80.0000,6.0000,6,181,518);
/*!40000 ALTER TABLE `purchase_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_number` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ordered_at` datetime DEFAULT NULL,
  `received_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `supplier_id` int NOT NULL,
  `created_by_id` bigint NOT NULL,
  `received_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `fk_purchase_orders_created_by` (`created_by_id`),
  KEY `fk_purchase_orders_received_by` (`received_by_id`),
  KEY `idx_purchase_orders_status` (`status`),
  KEY `idx_purchase_orders_supplier` (`supplier_id`),
  KEY `idx_purchase_orders_created_at` (`created_at`),
  CONSTRAINT `fk_purchase_orders_created_by` FOREIGN KEY (`created_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_purchase_orders_received_by` FOREIGN KEY (`received_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_purchase_orders_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_tokens` (
  `token` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `expiry_date` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`token`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_expiry_date` (`expiry_date`),
  CONSTRAINT `refresh_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
INSERT INTO `refresh_tokens` VALUES ('d0ea7dc6-c88d-4953-943c-4e458681d9ac',1,'2026-06-11 14:01:31','2026-06-04 14:01:31');
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `role_id` tinyint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `fk_role_permissions_permission` (`permission_id`),
  CONSTRAINT `fk_role_permissions_permission` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`),
  CONSTRAINT `fk_role_permissions_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` VALUES (1,1),(2,1),(3,1),(5,1),(2,2),(3,2),(5,2),(1,3),(2,3),(5,3),(1,4),(2,4),(5,4),(2,5),(3,5),(5,5),(2,6),(3,6),(5,6),(2,7),(3,7),(5,7),(6,7),(2,8),(3,8),(5,8),(2,9),(3,9),(5,9),(2,10),(5,10),(2,11),(3,11),(4,11),(5,11),(6,11),(2,12),(5,12),(2,13),(5,13),(5,14),(2,15),(3,15),(5,15),(2,16),(3,16),(5,16),(2,17),(3,17),(5,17),(6,18),(6,19),(6,20),(6,21),(2,22),(3,22),(5,22),(6,22);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` tinyint NOT NULL AUTO_INCREMENT,
  `name` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'CAJERO','Operaciones de venta y cobro en caja'),(2,'ADMINISTRADOR','Acceso total a la gesti├│n del negocio'),(3,'SUPERVISOR','Supervisi├│n de operaciones y arqueos de caja'),(4,'CONSULTOR','Acceso de solo lectura para auditor├¡a y reportes'),(5,'ADMIN_INGENIERO','Acceso t├®cnico total y gesti├│n de backups'),(6,'BODEGUERO','Recepcion de mercaderia, lotes, vencimientos y ordenamiento en bodega');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_details`
--

DROP TABLE IF EXISTS `sale_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` decimal(12,4) NOT NULL,
  `unit_price` decimal(12,4) NOT NULL,
  `tax_applied` decimal(5,2) NOT NULL,
  `discount_amount` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `subtotal` decimal(12,4) NOT NULL,
  `sale_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `batch_id` bigint DEFAULT NULL,
  `unit_cost` decimal(12,4) DEFAULT NULL,
  `gross_profit` decimal(12,4) DEFAULT NULL,
  `uom_conversion_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sale_details_sales` (`sale_id`),
  KEY `fk_sale_details_batches` (`batch_id`),
  KEY `idx_sale_details_product_sale` (`product_id`,`sale_id`),
  KEY `fk_sale_details_uom` (`uom_conversion_id`),
  CONSTRAINT `fk_sale_details_batches` FOREIGN KEY (`batch_id`) REFERENCES `product_batches` (`id`),
  CONSTRAINT `fk_sale_details_products` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_sale_details_sales` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`),
  CONSTRAINT `fk_sale_details_uom` FOREIGN KEY (`uom_conversion_id`) REFERENCES `product_uom_conversions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_details`
--

LOCK TABLES `sale_details` WRITE;
/*!40000 ALTER TABLE `sale_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_details` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `antes_de_insertar_detalle` BEFORE INSERT ON `sale_details` FOR EACH ROW BEGIN
    DECLARE costo_real DECIMAL(12,4);
    
    
    SELECT purchase_price INTO costo_real 
    FROM products 
    WHERE id = NEW.product_id;
    
    
    IF costo_real IS NOT NULL THEN
        SET NEW.unit_cost = costo_real;
        SET NEW.gross_profit = NEW.subtotal - (costo_real * NEW.quantity);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `sale_payments`
--

DROP TABLE IF EXISTS `sale_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_payments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `payment_method` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(12,4) NOT NULL,
  `sale_id` bigint NOT NULL,
  `coupon_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sale_payments_sale` (`sale_id`),
  KEY `idx_sale_payments_method` (`payment_method`),
  KEY `idx_sale_payments_coupon_id` (`coupon_id`),
  CONSTRAINT `fk_sale_payments_coupons` FOREIGN KEY (`coupon_id`) REFERENCES `coupons` (`id`),
  CONSTRAINT `fk_sale_payments_sales` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_payments`
--

LOCK TABLES `sale_payments` WRITE;
/*!40000 ALTER TABLE `sale_payments` DISABLE KEYS */;
INSERT INTO `sale_payments` VALUES (1,'CASH',1000.0000,1,NULL),(2,'TRANSFER',9.0000,2,NULL),(3,'CARD',33.0000,3,NULL),(4,'CASH',100.0000,4,NULL),(5,'CASH',100.0000,5,NULL),(6,'CARD',22.0000,6,NULL),(7,'CASH',300.0000,7,NULL);
/*!40000 ALTER TABLE `sale_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(12,4) NOT NULL,
  `total_tax` decimal(12,4) NOT NULL,
  `total_amount` decimal(12,4) NOT NULL,
  `change_amount` decimal(12,4) NOT NULL DEFAULT '0.0000',
  `sale_date` datetime NOT NULL,
  `customer_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `session_id` bigint NOT NULL,
  `points_earned` int NOT NULL DEFAULT '0',
  `points_redeemed` int NOT NULL DEFAULT '0',
  `points_value` decimal(12,4) NOT NULL DEFAULT '0.0000',
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `fk_sales_customers` (`customer_id`),
  KEY `idx_sales_sale_date` (`sale_date`),
  KEY `idx_sales_status` (`status`),
  KEY `idx_sales_user` (`user_id`),
  KEY `idx_sales_session` (`session_id`),
  KEY `idx_sales_invoice_number` (`invoice_number`),
  CONSTRAINT `fk_sales_customers` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `fk_sales_session` FOREIGN KEY (`session_id`) REFERENCES `cash_register_sessions` (`id`),
  CONSTRAINT `fk_sales_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales`
--

LOCK TABLES `sales` WRITE;
/*!40000 ALTER TABLE `sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_name` (`company_name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_alerts`
--

DROP TABLE IF EXISTS `system_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_key` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `severity` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_module` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_id` bigint DEFAULT NULL,
  `action_path` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `resolved_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_system_alerts_key` (`alert_key`),
  KEY `fk_system_alerts_resolved_by` (`resolved_by_id`),
  KEY `idx_system_alerts_status_severity` (`status`,`severity`),
  KEY `idx_system_alerts_created_at` (`created_at`),
  CONSTRAINT `fk_system_alerts_resolved_by` FOREIGN KEY (`resolved_by_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_alerts`
--

LOCK TABLES `system_alerts` WRITE;
/*!40000 ALTER TABLE `system_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_categories`
--

DROP TABLE IF EXISTS `tax_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tax_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `percentage` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_categories`
--

LOCK TABLES `tax_categories` WRITE;
/*!40000 ALTER TABLE `tax_categories` DISABLE KEYS */;
INSERT INTO `tax_categories` VALUES (1,'IVA 15%',15.00,1),(2,'Exento',0.00,1),(3,'IVA 12%',12.00,1),(4,'IVA 8%',8.00,1);
/*!40000 ALTER TABLE `tax_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `role_id` tinyint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_email` (`email`),
  KEY `idx_users_role` (`role_id`),
  CONSTRAINT `fk_users_roles` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-18 21:20:16
